{% extends "base.html" %}

{% block main_content %}
<h1>Professor {{prof}}</h1>
<h1>{{code}} : {{course}}</h1>
{% for post in posts %}
<div class="card"> 
    <h1> <a href="{{url_for('view_post', postid = post.postid)}}">View Post</a> </h1>
    <h2>Professor: {{ post.name }} | Rating: {{ post.prof_rating }} </h2>
    <h2>Course: {{ post.title }} | Rating: {{ post.course_rating}} </h2>
    <h5>Posted by: {{ post.username }} | At: {{ post.time }}</h5>
    <p> {{ post.text }}</p>
    <h3>
        <a href="{{url_for('post_vote', postid=post.postid, vote='up')}}">Upvote: </a> {{ post.upvotes }} | 
        <a href="{{url_for('post_vote', postid=post.postid, vote='down')}}">Downvote: </a> {{ post.downvotes }} 
    </h3>
</div>
{% endfor %}
{% endblock %}
