<!--view-post-prof-course.html page to view individual posts with both course and prof ratings-->

{% extends "base.html" %}

<!--doesn't need search filter-->
{% block form %}
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
<div class="card">
    <h2> Course: {{ course_code }} - {{course_name}}| Rating: {{ course_rating}} </h2>
    <h5>Posted by: {{ user }} | At: {{ time }}</h5>
    <p>{{ text }}</p>
    <a href="{{url_for('comment', postid=postid)}}">Leave a Comment</a> 
    <h3>
      <a href="{{url_for('post_vote', postid=postid, vote='up')}}">Upvote: </a> {{ upvotes }} | 
      <a href="{{url_for('post_vote', postid=postid, vote='down')}}">Downvote: </a> {{ downvotes }} 
  </h3>
</div>

<h2>Comments -----------------------------</h2>
{% for comment in comments %}
<div class="card">  
    <h3>Posted by: {{ comment.username }} | At: {{ comment.time }}</h3>
    <p>{{ comment.text }}</p>
    <h3><a href="{{url_for('comment_vote', postid=postid, commentid=comment.commentid, vote='up')}}">Upvote: </a> {{ comment.upvotes }} | 
        <a href="{{url_for('comment_vote', postid=postid, commentid=comment.commentid, vote='down')}}">Downvote: </a> {{ comment.downvotes }} </h3>
{% endfor %}

{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

