{% extends "base.html" %}

{% block form %}
{% endblock %}

{% block main_content %}

<form method="POST" action="{{url_for('upload')}}" enctype="multipart/form-data">
    <p>Choose a professor and/or course to review, and the department:</p>
    <p><label>Department:
        <select name="dept" id="formdepartment">
            <option value="">Choose One</option>
            {% for dept in departments %}
            <option value="{{dept['abbrv']}}">{{dept['name']}}</option>
            {% endfor %}
        </select>
    </label></p>

    <p><label>Professor:
        <select name="pid" id="formprofessor">
            <option value="">Choose One</option>
            {% for prof in professors %}
            <option value="{{prof['pid']}}">{{prof['name']}}</option>
            {% endfor %}
        </select>
    </label></p>
    
    <p><label>Course:
        <select name="course" id="formcourse">
            <option value="">Choose One</option>
            {% for course in courses %}
            <option value="{{course['courseid']}}">{{course['title']}}</option>
            {% endfor %}
            </select>
    </label></p>
        
    <p><label>Professor Rating:
        <select name="prof-rating">
            <option value="">choose</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </label></p>

    <p><label>Course Rating:
        <select name="course-rating">
            <option value="">choose</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </label></p>

    <p><label>PDF Upload: 
        <input type="file" name="pdf">
    </label></p>

    <p><label>Review:
        <textarea name="review-text" maxlength="5000"></textarea>
    </label></p>
    
    <p><input type="submit" value="process form">
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#formdepartment').change(function(){

      $.getJSON('/update_upload_form', {
            department: $('#formdepartment').val()

          }).done(function(data) {
                $('#formprofessor').html(data.html_string1);
                $('#formcourse').html(data.html_string2);
           })
    });
}); 
</script>
{% endblock %}