<!--view-post-prof-course.html page to view individual posts with both course and prof ratings-->

<!--Doesn't extend base.html so that we don't have the filters-->
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block nav %}
<nav>
  <ul>
    <li><a href="{{url_for('home')}}">Home</a></li>
  </ul>
</nav>
{% endblock %}

{% block page_title %}
<h1>{{title}}</h1>
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
<div class="card">
    <h2> Professor: {{ prof_name }} | Rating: {{ prof_rating }} </h2>
    <h2> Course: {{ course_code }} - {{course_name}}| Rating: {{ course_rating}} </h2>
    <h5>Posted by: {{ user }} | At: {{ time }}</h5>
    <p>Text: {{ text }}</p>
    <!-- How to fill in the post id here? -->
    
    <a href="{{url_for('comment')}}">Leave a Comment</a> 
</div>
<!-- Make this usable
{% for comment in comments %}
<div class="card">  
    <h2> {{ post.prof }} {{ post.course }} </h2>
    <h5>{{ post.user }} {{ post.time }}</h5>
    <p>{{ post.text }}</p>
</div>
{% endfor %} -->

{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
