<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>
<!--Instead of writing all this stuff again, should I just extend the base html template? might be easier-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block nav %}
<nav>
  <ul>
    <li><a href="{{url_for('home')}}">Home</a></li>
  </ul>
</nav>
{% endblock %}

{% block page_title %}
<h1>{{title}}</h1>
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
<div class="card">
    <h2> {{ prof_info.name }} {{ prof_info.prof_rating }} </h2>
    <h2> {{ course_info.code }} {{ course_info.course_rating}} </h2>
    <h5>{{ user }} {{ time }}</h5>
    <p>{{ text }}</p>
</div>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
